.fadeOut {
  opacity: 0;
  transform: translateY(-8px);
  width: 100%;
  transition: opacity 0.6s 0.1s, transform 0.6s 0.1s;
}
.fadeIn {
  opacity: 1;
  width: 100%;
  transition: opacity 0.6s 0.6s, transform 0.6s 0.6s;
}
